{% comment %} Canvas Container  A4 Landscape {% endcomment %}
<canvas class="donwload-canvas" width="842" height="596" id="popCanvas"></canvas>

{% comment %} Canvas Container  1080 x 1080 {% endcomment %}
<canvas class="donwload-canvas" width="1080" height="1080" id="popCanvas1080"></canvas>

{% comment %} Canvas Container  A2 yellow {% endcomment %}
<canvas class="donwload-canvas" width="1190.55" height="1683.78" id="popCanvasA2"></canvas>

{% comment %} Canvas Container  1080 x 1080 {% endcomment %}
<canvas class="donwload-canvas" width="1080" height="1920" id="popCanvas10801920"></canvas>


{% comment %} CARBON => Canvas Container  A4 Landscape {% endcomment %}
<canvas class="donwload-canvas carbon-block" width="842" height="596" id="CARBON_popCanvas"></canvas>

{% comment %}  CARBON => Canvas Container  1080 x 1080 {% endcomment %}
<canvas class="donwload-canvas carbon-block" width="1080" height="1080" id="CARBON_popCanvas1080"></canvas>

{% comment %}  CARBON =>  Canvas Container  A2 yellow {% endcomment %}
<canvas class="donwload-canvas carbon-block" width="1190.55" height="1683.78" id="CARBON_popCanvasA2"></canvas>

{% comment %}  CARBON => Canvas Container  1080 x 1080 {% endcomment %}
<canvas class="donwload-canvas carbon-block" width="1080" height="1920" id="CARBON_popCanvas10801920"></canvas>






{% comment %} Download button JPEG {% endcomment %}
<button id="downloadBtn" class="btn btn-black-o">Download JPEG</button>

{% comment %} Download button PNG {% endcomment %}
<button id="downloadBtnPNG" class="btn btn-black">Download PNG</button>



{%- assign img_url = "https://cdn.shopify.com/s/files/1/2096/2629/files/brush-home-1_280x.png?v=1625036281"  -%}

