<div class="image" data-section-id="{{ section.id }}" data-section-type="image">

  <div class="container narrow">
    {%- include 'img' with section.settings.image, placeholder: true -%}
  </div>

</div>