<div data-section-id="{{ section.id }}" data-section-type="collection">
  {% include 'collections' %}
</div>

{% schema %}
  {
    "name": "Collection",
    "class": "collection-section",
    "settings": [

    ]
  }
{% endschema %}
