<div class="product-reviews" data-section-id="{{ section.id }}" data-section-type="section-product-reviews">

  <div class="container narrow">
      {% comment %}<pre>Product reviews here</pre>{% endcomment %}
  </div>

</div>

