<div class="product-recycling" data-section-id="{{ section.id }}" data-section-type="section-product-recycling">

  <div class="container narrow">
    <div class="row">
      <div class="col-xs-12 col-md-6">
       <div class="brand-recycling__title">
          <p class="h1">{{ section.settings.title | replace: '  ', '</br>'}}</p>
        </div>
      </div>
    </div>
    <div class="row brand-recycling__benefits">

      {%- for block in section.blocks -%}
        
        <div class="col-xs-12 col-md-4">
          <div class="recycling-benefit">
            <div class="recycling-benefit__icon">
              {%- include 'img' with block.settings.image -%}
            </div>
            <p class="recycling-benefit__title h3">{{ block.settings.title }}</p>
            <p class="recycling-benefit__description">{{ block.settings.description }}</p>
          </div>
        </div>

      {%- endfor -%}

    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "Recycling Plastic",
    "class": "recycling-plastic-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Composting,  the ultimate recycling"
      }
    ],
    "blocks": [
      {
        "name": "Benefit",
        "type": "benefit",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}

