<div class="under-header" data-section-id="{{ section.id }}" data-section-type="product">

  <div class="product-master">

    <div class="product-master__image">
      
      <p>Image section</p>

    </div>

    <div class="product-master__offer">
      
      <p>Offer section</p>

    </div>

    <div class="product-master__details">
      
      <p>Details section section</p>
      
    </div>

  </div>

</div>