/* Media Querries taken from theme.scss */

/*  @media only screen and (min-width:62em) */

/* @media only screen and (max-width:61.99em) */

/* @media only screen and (min-width: 38em) Font size on html 15px here */


/* Custom CSS for 2021 changes */

.product-sticky.show {
    padding: 90px 30px 30px;
}


/* Pop Image Canvas */

#account-pop-download-box {
    overflow: hidden;
}

#popCanvas {
    width: 842px;
    height: 596px;
}

#popCanvas1080 {
    width: 1080px;
    height: 1080px;
}

#popCanvas10801920 {
    width: 1080px;
    height: 1920px;
}

/* POP Cards */

.pop-cards {
    overflow: hidden;
    max-width: 40%;
}





/* Carbon Calculator */

.dashboard-report__data-carbon {
    height: 100%;
    display: grid;
    gap: 40px;
}

.dashboard-report__icon-box {
    display: grid;
    gap: 10px;
    align-items: start;
    place-items: start;
    /* margin-top: -16px; */
    height: 100%;
    grid-template-rows: 1fr 1fr;
}

.dashboard-report__data-container.carbon {
    display: grid;
    grid-template-columns: min-content 1fr;
}

@media only screen and (min-width: 1500px) {

.carbon-reports:first-of-type {
    padding-top: 30px;
}

}

@media only screen and (min-width: 750px) and (max-width: 1440px) { 
    .dashboard-report__icon-box {
        margin-top: -30px;
    }
}


.carbon-block {
    display: none;
}

/* Hide Canvas */


.donwload-canvas {
    display: none;
}


/* Custom brand updates */

.related-brands--chat-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.related-brands--chat-box .product-grid-item__title {
    margin: .8125rem 0;
}


@media only screen and (min-width: 38em) {
    .custom-branding-stand-out-grid-item {
        flex: 0 1 33.33%;
    }
}

.customise_btn--box {
    display: flex;
    justify-content: center;
}

.customise_btn--box label, .customise_btn--box .btn {
    width: 100%;
}

/* SMS Updates */

.need-assistance--link {
    margin: 1em  0 0;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}

.need-assistance--link span {
    color: var(--color-body-text);
}

.need-assistance--link .blue-link {
    color: #0097A7;
    text-decoration: underline;
    padding-left: 3px;
}

.site-footer .site-footer__navigation ul .need-assistance--link {
    margin-top: 20px;
}



/* Customer Forms App OVERRIDES */

.decent--customer-form.cf-field {
    margin: 10px 0 0 0;
    padding: 0;
}

.cf-field-container.custom_class.decent--customer-form {
    margin: 10px 0 0 0;
    padding: 0;
}

.cf-field-container.decent--customer-form.extra-padding--right {
    padding-right: 5px;
}

.cf-field.custom_class.decent--customer-form.signup--additional-mtop {
    margin-top: 40px;
}

.decent--customer-form.cf-field[data-cf-field-type=heading], 
.decent--customer-form.cf-field[data-cf-field-type=divider], 
.decent--customer-form.cf-field[data-cf-field-type=paragraph] {
    margin: 10px 0 0 0;
    padding: 0;
}


.decent--customer-form.cf-field[data-cf-field-type=heading],
.decent--customer-form.cf-field[data-cf-field-type=paragraph] {
    padding: 5px 5px 2.5px 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
}

button.cf-cancel.cf-button.btn.button {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
}

.cf-form-inner .cf-form-actions:not([data-empty=true]), .cf-fields-wrapper .cf-form-step .cf-form-actions:not([data-empty=true]) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px!important;
    margin-left: -5px;
    margin-right: -5px;
}

.cf-form-inner button.cf-submit-form.cf-button.btn.button {
    width: 100%;
    margin: 0;
    background-color: #000;
    border-color: #000;
    color: var(--color-body);
}


.cf-form-inner button.cf-submit-form.cf-button.btn.button:hover {
    background-color: #000000b3;
    border-color: #000000b3;
}


.decent--customer-form-hidden.cf-field {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
}


.cf-form-inner {
    margin-left: -5px;
    margin-right: -5px;
}


/* Checkboxes */

.decent--customer-form .cf-enum-field__choice {
    align-items: flex-start;
}

.decent--customer-form .cf-enum-field__choice input[type=radio], 
.decent--customer-form .cf-enum-field__choice input[type=checkbox] {
    margin: 5px 0.5em 0 0;
}

/* Tracking number on account page / orders / order */

.order--tracking-number {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.order--tracking-number:hover {
    opacity: 0.5;
}

/* Text us drop down */

.contact-us--line {
    margin-bottom: 1em;
}

.text-us--parargaph {
    display: inline-block;
    line-height: 1.2;
}

.text-us--parargaph a {
    margin: 0;
    padding: 0;
}