{% section 'page-header--default' %}

<div class="container narrow page__content">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      {{ page.content }}
    </div>
  </div>
</div>

{%- section 'call-to-action--default' -%}